<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head> 
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
    <div class="jumbotron">
    <div class="media">
    <img src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/1_avatar-256.png" 
   class="mr-3" alt="mi foto">
    <div class="media-body">
    <h5 class="mt-0">Media heading</h5>
    <p>Will you do the same for me?</p>
    </div>
    </div>
    </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    </body>
    </html>